<!DOCTYPE html>
<html>
<head>
    <title>Trade the Cart</title>
    <link rel="stylesheet" href="mystyle.css">
   
</head>
<body>

 <header>
        
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/expansions">Expansions</a></li>
        <li><a href="/cards">Cards</a></li>
        <li><a href="/mycollection">My Collection</a></li>
        <li><a href="/addcard">Add Card</a></li>
        <li style="float:right"><a class="active" href="/login">Login</a></li>
        <li style="float:right"><a class="active" href="/signup">Signup</a></li>
      </ul>
        <nav class="header">

                <h1>Trade the Cart</h1>

        </nav>


        
     
 </header>

 <main>

    <h2> Welcome to Trade the Cart</h2>
    <h3>This website is a Pokémon card databse which will allow to browse and collect cards. </h3>
 </main>